button {
  font-family: "Optima";
  background-color: #debdff;
  border: 1px solid purple;
  width: 100px;
  height: 80px;
  border-radius: 12px;
}
embed {
  height: 80px;
}
#player-1-button {
  width: 100px;
  height: 80px;
  margin-left: 90px;
}
#player-2-button {
  width: 100px;
  height: 80px;
  margin-left: 140px;
}
#eraser {
  margin-left: 220px;
}
#erasericon {
  margin-left: 220px;
}
img {
  width: 100px;
  height: 100px;
}
label{
  font-size: 80px;
  font-family: "Optima";
}
#music {
  margin: 20px auto;
}
#minutes {
  margin-left: 60px;
}
#seconds {
  margin-right: 50px;
}
h1 {
  margin-left: 50px;
  font-family: "Optima";
}
h3 {
  margin: 20px auto;
  font-family: "Optima";
}
#player-1{
  width: 200px;
  height: 200px;
  margin-left: 40px;
}
#player-2{
  width: 200px;
  height: 200px;
  margin-left: 80px;
}
#play-1 {
  margin-top: 100px;
  margin-left: 0px;
}
#play-2 {
  margin-top: 100px;
}